doctype html
head
  title Yet another patient portal
index
  h1 Hello #{name}
  nav#menu
  script(src='https://unpkg.com/react@16/umd/react.development.js' crossorigin='')
  script(src='https://unpkg.com/react-dom@16/umd/react-dom.development.js' crossorigin='')
  script(src='/scripts/home.js')
  link(rel='stylesheet' type='text/css' href='/styles/home.css')
