html
    head
        title Patient Portal - #{title}
    body
        block styles
            link(rel='stylesheet' type='text/css' href='/styles/global.css')
        block content
            script(src='https://unpkg.com/react@16/umd/react.development.js' crossorigin='')
            script(src='https://unpkg.com/react-dom@16/umd/react-dom.development.js' crossorigin='')
        block footer
        
