extends layout.pug

block append styles
block append content
    h1#page-title Appointments
    div#menu
    script(src="/scripts/appointments-config.js")
    script(src="/scripts/appointments-rows.js")
    script(src="/scripts/appointments-slots.js")
    script(src="/scripts/appointments-book.js")
    script(src="/scripts/appointments-schedule.js")
    script(src="/scripts/appointments-manage.js")
    script(src="/scripts/appointments-cancel.js")
    script(src="/scripts/appointments.js")
block append footer