extends layout.pug

block append styles
block append content
    h1#page-title Appointments
    div#menu
    script(src="/scripts/ajax.js")
    script(src="/scripts/appointments.js")
block append footer