extends layout.pug

block append content
  h1(class='display-1' id='page-title') The Nuffield Centre
  div#menu
  - if (role == 'admin')
    script(src='/scripts/admin.js')
  - else if (role == 'doctor')
    script(src='/scripts/doctor.js')
  - else
    script(src='/scripts/home.js')