extends layout.pug

block append styles
  link(rel='stylesheet' type='text/css' href='/styles/home.css')

block append content
  h1#page-title The Nuffield Centre
  - if (role == 'admin')
    div#admin-menu
    script(src='/scripts/admin.js')
  - else if (role == 'doctor')
    div#doctor-menu
    script(src='/scripts/doctor.js')
  - else
    div#menu
    script(src='/scripts/home.js')

block append footer
  p#user-log Logged in as #{name}