extends layout.pug

block append styles
  link(rel='stylesheet' type='text/css' href='/styles/home.css')

block append content
  h1 Nuffield health center GP
  h2 Welcome #{name}
  - if (role == 'admin')
    div#admin-menu
    script(src='/scripts/admin.js')
  - else if (role == 'doctor')
    div#doctor-menu
    script(src='/scripts/doctor.js')
  - else
    div#menu
    script(src='/scripts/home.js')

block append footer
  p Role: #{role}
  a(id="logout" href="/api/logout") Logout