.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#menu {
    margin: auto;
    width: 50%;
    padding-top: 100px;
}

#page-title {
    text-align: center;
}

#user-log {
    text-align: center
}